<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script  src="script_error.js"></script>
	
	<link rel="stylesheet" href="css/style_core.css" type="text/css"/>
	<link rel="stylesheet" href="css/style_error.css" type="text/css"/>
	 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div id="div_modal" class="modal">
		<div class="modal-content">				
			<h2 th:text="${modal_title_error}">Fehler:</h2>
			<p id="p_error" th:text="${error_text}">Es konnte keine Verbindung zum Server hergestellt werden.</p>
			<div class="div_modal_footer">
				<button id="button_overview" class="button_modal" th:text="${modal_button_overview}">zurück zur Übersicht</button>
			</div>
		</div>
	</div>	
</body>
</html>