<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="script_startQuestions.js"></script>
	
	<link rel="stylesheet" href="css/style_start_questions.css" type="text/css"/>
	<link rel="stylesheet" href="css/style_core.css" type="text/css"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h2 id="h2_title_tutorial" class="title_tutorial" th:text="${tutorial.getName()}" th:styleappend="'color: #'+${tutorial.getColor()}"></h2>
	<h3 id="h3_title_question" class="title_question" th:text="${startOfQuestion_headline}"></h3>
	<p th:id="'p_text_'+${order}" class="p_text" th:text="${startOfQuestion_text}"></p>
	
	<div id="div_arrows">		
		<i id="i_save" class="fa fa-print"></i>
		<i id="i_arrow_left" class="fa fa-arrow-circle-left" onclick="arrow_left_click();"></i>
		<i id="i_exit_tutorial" class="fa fa-times-circle" onclick="arrow_exit_tutorial_click(false);"></i>
		<i id="i_arrow_right" class="fa fa-arrow-circle-right" onclick="arrow_right_click(false);"></i>
	</div>
</body>
</html>