body {
	height:95%
}
.material {
	/*float:right;	
	max-height: 80%;*/
	display:block;
	margin-left:auto;
	margin-right:auto;
	max-height:80%;
	max-width:80%;	
}
.div_main{
	height:100%;
}
.div_inner{
	padding-left: 16px;
	padding-right:16px;
	height:94%;
}
p{
	text-align:center;
}
#i_save{
	visibility:hidden;
}