
body {
	height: 100%;
}
.div_inner{
	height:100%;
}
.div_main{
	height:100%;
}

.material{
	max-width:80%;
	max-height:80%;
	margin: auto;
    display: block;
}
#i_save{
	visibility:hidden;
}
