
body {
	height:95%;	
}


.h4_text_question{
	/*background-color:#bbb;*/
	padding-bottom:16px;
	padding-top:16px;
	padding-left:7px;
	padding-right:7px;
	margin:0;
	border-radius:10px 10px 0 0;
}


#div_question{
	float:left;
	/*background-color: #ccc;*/
	background-color:#fff;
	border-radius:10px;
	border:solid 1px #bbb;
}
img {
	max-width: 100%;
	max-height: 70%;
}
.div_main{
	height:100%;
}
.div_inner{
	padding-left: 16px;
	padding-right:16px;
	height:90%;
}

.table_checkboxes{
	padding-top:5px;
	border-collapse:collapse;
	width:100%;
	height:100%;
}
.td_answer{
	border-top:#bbb solid 1px;
	padding-top:10px;
	padding-bottom:10px;
}
.tr_answer:hover{
	background-color:#bbb;
}

.td_answer label{
	cursor:pointer;
}
.checkbox{
	width:20px;
}
.td_answer input{
	cursor:pointer;
}
.table_question{
	width:100%;
	height:100%;
}
.td_image{
	width:70%;
	vertical-align:top;
	text-align:center;
}
#i_save{
	visibility:hidden;
}
#table_question{
	width:100%;
}