
.text{
	text-align:center;
}
#div_result{
	border-top:#bbb solid 3px;
	max-height:85%;
	width:100%;
	overflow-y: auto;
    overflow-x: hidden;
}
body{
	height:85%;
}
.h4_text_question{	
	/*background-color:#bbb;*/
	padding-bottom:16px;
	padding-top:16px;
	padding-left:7px;
	padding-right:7px;
	margin:0;
	border-radius:10px 10px 0 0;
}


#div_question{
	float:left;
	/*background-color: #ccc;*/
	border-radius:10px;
	border:solid 1px #bbb;
	background-color:#fff;
}


img {
	max-width: 100%;
	max-height: 70%;
}

.div_inner{
	padding-left: 16px;
	padding-right:16px;
	height:-webkit-fill-available;
}

#div_segment{
	display:inline-block;
	width:100%;
	height:100%;
}

.answer_correct{
	background-color: #A9E27C;
}

.answer_wrong{
	background-color: #c61d1d;
}
.table_checkboxes{
	padding-top:5px;
	border-collapse:collapse;
	width:100%;
	height:100%;
}

.td_answer{
	border-top:#bbb solid 1px;
	padding-top:10px;
	padding-bottom:10px;
}

.checkbox{
	width:20px;
}
.td_image{
	width:70%;
	vertical-align:top;
	text-align:center;
}