html{
	height:100%;
	
}
body{
	margin-top:0;
	margin-bottom:0;
	margin-left:auto;
	margin-right:auto;	
	background-color:#f1f1f1;
	min-width:650px;
	font-family:Arial;
}

.title_tutorial {
	position: fixed;
	margin:0px;
	top:0;	
	background-color: #ccc;
	color:#000;
	width:100%;
	border-radius:5px;
}
.title_question{
	width:100%;
	background-color:#ddd;
	margin-top: 27px;
	border-radius:5px;
	
}
/*Arrows*/
#div_arrows {
	overflow:hidden;	
	background-color:white;
	color:#009fdf;
	position: fixed;	
	bottom:0;
	width:100%;	
	/*text-align: center;*/
	border-radius:25px;
	min-width:400px;
}
#div_arrows i{
	font-size:50px;
	cursor:pointer;
}
#i_arrow_right {
	float:right;
	margin-right:25%;
}

#i_arrow_left {
	float:left;
	margin-left:25%;
}
#i_exit_tutorial{
	float:right;	
	padding-right: 5px;
}
#i_save{
	float:left;
	padding-left:10px;
}
/*end of Arrows*/

/*Modal*/

.modal{
	display:none;
	position:fixed;
	z-index:1;
	padding-top:100px;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:#000;
	background-color:rgba(0,0,0,0.4);
}
.modal-content{
	background-color:#fff;
	margin:auto;
	width:80%;
	border-radius:10px;
}
.modal-content i{
	float:right;
	font-size:28px;
	padding-right:10px;
} 
.modal-content p{
	padding-left:20px;
	font-size:15px;
	padding-bottom:30px;
}
.modal-content h2{
	padding-left:20px;
	background-color:#009fdf;
	border-radius:10px 10px 0 0;
}
.div_modal_footer{
	width:100%;
	height:28px;
	background-color:#009fdf;
	border-radius:0 0 10px 10px;
}
.button_modal{
	float:right;
	width:120px;
	border:0;
	height:23px;
	margin-right:20px;
	margin-top:2px;
	margin-bottom:2px;
	cursor:pointer;
	font-size:15px;
}
i:hover,
i:focus{
	cursor:pointer;
}
/*end Modal*/