/* Tabbar */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    height:45px;
    width:100%;
    position:absolute;
    top:0;
    
}

.tab td:first-child{
	width:250px;
	
}
.tablink {
    background-color: #fff;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    width:18%;
    height:41px;
    margin:2px;
    font-size:15px;
}


.tablink:hover {
    background-color: #ddd;
}


.tablink.active {
    background-color: #ccc;
}


.tabcontent {
    display: none;
    margin:5px;
    overflow-y:auto;
    overflow-x:hidden;
    height:calc(100% - 45px);
}
/*end of Tabbar*/

body{
	padding-top:50px;	
	height:100%;	
	overflow:hidden;
}

i.rotate.down{
 	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}
i.rotate{
	color:#009fdf;
	font-size:12pt;
}
h1{
	display:inline-block;
	margin:0 0 0 10px;
	cursor:default;
	font-size:12pt;
	font-weight:normal;
}
.h1_group{
	font-weight:bold;
}
button{
	border-radius:2px;
}
.button_tutorial{
	float: right;
	width:120px;
	border:0;
	height:33px;
	margin-top:2px;
	margin-bottom:2px;
	cursor:pointer;
	font-size:15px;
}
.button_tutorial:hover{
	background-color:#ccc;
}
.button_tutorial i{
	font-size:16pt;
}
.start{
	display:none;
}


img{
	visibility:hidden;
	margin-top:6px;
	width: 25px;
}


.dropdown{
	position:absolute;
	display: inline-block;	
}

.dropdown-content{
	display:none;
	position:relative;
	
}

p{
	display:inline-block;
	margin:0;
	margin-left:50px;
}

.button_result{
	height:23px;
	border:0;
	width:120px;
	cursor:pointer;
	font-size:15px;
	margin-top:1px;
	margin-bottom:1px;
}
.button_result:hover{
	background-color:#ccc;
}
.div_walkthrough{
	height:25px;
	padding-left:50px;
	padding-top:2px;
	background-color:white;
	border: 1px solid lightgray
}
.show{
	display:table-row;
}
#h2_top{
	margin:0;
	cursor:default;
	font-size:12pt;
}
	
.container_tutorial{
	border: 1px solid lightgray ;
	border-radius:5px;
	padding-left:4px;
}
.table_tutorials{
	width:100%;
	border-collapse:separate;
	border-spacing:0;
	background-color:#fff;
}
.td_tutorials{
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}
.td_tutorials.td_img{
	text-align:right;	
	vertical-align:middle;
	border-right: 1px solid lightgray;
	border-radius: 0 5px 5px 0;
	width:35px;
}
.td_tutorials.td_i{
	border-left: 1px solid lightgray;
	border-radius: 5px 0 0 5px;
	width:20px;
	text-align:center;
	vertical-align:middle;
}
.td_tutorials.td_button{
	width:120px;
}
.id_tutorials.td_h1{
	
}
.table_tutorial{
	background-color:#fff;
	width:100%;
	border-collapse:separate;
	border-spacing:0;
}
.table_tutorials td{
	padding:0;
}
#tr_dropdown td{
	border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}