<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="script_all_tutorials.js"></script>
	<script type="text/javascript" src="script_modal.js"></script>
	<link rel="stylesheet" href="css/style_all_tutorials.css" type="text/css"/>
	<link rel="stylesheet" href="css/style_core.css" type="text/css"/>
	
	 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<table class="tab">
		<tr>
			<td>
				<h2 id="h2_top" th:text="${overview_tabbar_h4}"></h2>		
			</td>
			<td>
				<button id="button_all" class="tablink" onclick="openTab(event,'div_all')" th:text="${overview_tabbar_tab_all+':'+numberOfAll}"></button>	
				<button id="button_done" class="tablink" onclick="openTab(event,'div_done')" th:text="${overview_tabbar_tab_done+':'+numberOfDone}" ></button>
				<button id="button_partial" class="tablink" onclick="openTab(event,'div_partial')" th:text="${overview_tabbar_tab_partial+':'+numberOfPartial}"></button>
				<button id="button_open" class="tablink" onclick="openTab(event,'div_open')" th:text="${overview_tabbar_tab_open+':'+numberOfOpen}"></button>
				
			</td>
		</tr>
	</table>
	
	<div id="div_modal" class="modal">
		<div class="modal-content">		
			
			<h2 th:text="${modal_title_information}"></h2>
			<p id="p_existingpartialTutorial" th:text="${modal_existing_partial_tutorial}"></p>
			<div class="div_modal_footer">
				<button id="button_close_modal" class="button_modal" th:text="${modal_button_close}"></button>
			</div>
		</div>
	</div>
	<!--Id des Buttons und des Bildes sind so aufgebaut: type_beschreibung_Gruppe_tutorialId
		Gruppen
			Open 0
			Partiel 1
			Done 2
			All 3
	-->
	<div id="div_open" class="tabcontent">
		<table class="table_tutorials">
			<tr th:each="tutorial: ${tutorials}" th:if="${tutorial.getState()=='Open'}">
				<td class="td_tutorials td_i">
					<i th:id="'i_arrow_dropdown_0_'+${tutorial.getId()}" class="fa fa-chevron-circle-down rotate" th:styleappend="${tutorial.getState()=='Done'?'visibility:visible':'visibility:hidden'}"></i>			
				
				</td>
				<td class="td_tutorials td_h1">
					<h1 th:text="${tutorial.getName()}" class="h1_tutorial_name"></h1>	
				</td>
				<td class="td_tutorials td_button">
					<button class="button_tutorial start" th:id="'button_tutorial_start_0_'+${tutorial.getId()}" >
						<i class="fa fa-play-circle "></i>
					</button>
					<button class="button_tutorial load" th:id="'button_tutorial_load_0_'+${tutorial.getId()}">
						<i class="fa fa-download"></i>
					</button>		
				</td>
				<td class="td_tutorials td_img">
					<img class="img_loading_gif" th:id="'img_loading_gif_0_'+${tutorial.getId()}" src="loading_spinner_transparent.gif" alt="loading"/>
				</td>
			</tr>
		</table>
		<!-- <div class="container_tutorial" th:each="tutorial : ${tutorials}" th:if="${tutorial.getState()=='Open'}" th:styleappend="'color: #'+${tutorial.getColor()}+';'+'background-color: #FFFFFF;'">
			<h1 th:text="${tutorial.getName()}" class="h1_tutorial_name"></h1>			
			<img class="img_loading_gif" th:id="'img_loading_gif_0_'+${tutorial.getId()}" src="loading_spinner_transparent.gif" alt="loading"/>
			<button class="button_tutorial start" th:id="'button_tutorial_start_0_'+${tutorial.getId()}" >
				<i class="fa fa-play-circle "></i>
			</button>
			<button class="button_tutorial load" th:id="'button_tutorial_load_0_'+${tutorial.getId()}">
				<i class="fa fa-download"></i>
			</button>		
		</div>	-->
	</div>
	<div id="div_partial" class="tabcontent">
		<table class="table_tutorials">
			<tr th:each="tutorial: ${tutorials}" th:if="${tutorial.getState()=='Partial'}">
				<td class="td_tutorials td_i">
					<i th:id="'i_arrow_dropdown_1_'+${tutorial.getId()}" class="fa fa-chevron-circle-down rotate" th:styleappend="${tutorial.getState()=='Done'?'visibility:visible':'visibility:hidden'}"></i>			
				
				</td>
				<td class="td_tutorials td_h1" >
					<h1 th:text="${tutorial.getName()}" class="h1_tutorial_name"></h1>	
				</td>
				<td class="td_tutorials td_button">
					<button class="button_tutorial start" th:id="'button_tutorial_continue_1_'+${tutorial.getId()}" >
						<i class="fa fa-play-circle "></i>
					</button>
					<button class="button_tutorial load" th:id="'button_tutorial_load_1_'+${tutorial.getId()}">
						<i class="fa fa-download"></i>
					</button>		
				</td>
				<td class="td_tutorials td_img">
					<img class="img_loading_gif" th:id="'img_loading_gif_1_'+${tutorial.getId()}" src="loading_spinner_transparent.gif" alt="loading"/>
				</td>
			</tr>
		</table>
		<!--  <div class="container_tutorial" th:each="tutorial : ${tutorials}" th:if="${tutorial.getState()=='Partial'}" th:styleappend="'color: #'+${tutorial.getColor()}+';'+'background-color: #FFFFFF;'">
			<h1 th:text="${tutorial.getName()}" class="h1_tutorial_name"></h1>			
			<img class="img_loading_gif" th:id="'img_loading_gif_1_'+${tutorial.getId()}" src="loading_spinner_transparent.gif" alt="loading"/>
			<button class="button_tutorial start" th:id="'button_tutorial_continue_1_'+${tutorial.getId()}" >
				<i class="fa fa-play-circle "></i>
			</button>
			<button class="button_tutorial load" th:id="'button_tutorial_load_1_'+${tutorial.getId()}">
				<i class="fa fa-download"></i>
			</button>
		</div>	-->
	</div>
	<div id="div_done" class="tabcontent">
		<table class="table_tutorials">
			<tr th:each="tutorial: ${tutorials}" th:if="${tutorial.getState()=='Done'}">
				<td>
					<table class="table_tutorial">
						<tr>
							<td class="td_tutorials td_i">
								<i th:id="'i_arrow_dropdown_2_'+${tutorial.getId()}" class="fa fa-chevron-circle-down rotate" th:styleappend="${tutorial.getState()=='Done'?'visibility:visible':'visibility:hidden'}"></i>			
							</td>
							<td class="td_tutorials td_h1">
								<h1 th:text="${tutorial.getName()}" class="h1_tutorial_name"></h1>	
							</td>
							<td class="td_tutorials td_button">
								<button class="button_tutorial start" th:id="'button_tutorial_start_2_'+${tutorial.getId()}" >
									<i class="fa fa-play-circle "></i>
								</button>
								<button class="button_tutorial load" th:id="'button_tutorial_load_2_'+${tutorial.getId()}">
									<i class="fa fa-download"></i>
								</button>		
							</td>
							<td class="td_tutorials td_img">
								<img class="img_loading_gif" th:id="'img_loading_gif_2_'+${tutorial.getId()}" src="loading_spinner_transparent.gif" alt="loading"/>
							</td>
						</tr>
						<tr id="tr_dropdown" th:class="'dropdown-content div_walkthroughs_2_'+${tutorial.getId()}" th:each="walkthrough:${tutorial.getWalkthroughs()}">
							<td colspan="2">
								<p th:text="${walkthrough.getText()}"></p>
							</td>
							<td colspan="2">
								<button class="button_result" th:id="'button_results_2_'+${tutorial.getId()}+'_'+${walkthrough.getTutorial_id()}" th:disabled="${loadedTutorialId!=-1}" th:text="${overview_button_view_result}"></button>
							</td>
						</tr>
					</table>
				</td>	
			</tr>
			<!-- <tr th:id="'div_dropdown_2_'+${tutorial.getId()}" class="dropdown-content">
				<td>
					<div  th:each="walkthrough:${tutorial.getWalkthroughs()}" class="div_walkthrough">
						<p th:text="${walkthrough.getText()}"></p>
						<button class="button_result" th:id="'button_results_2_'+${tutorial.getId()}+'_'+${walkthrough.getTutorial_id()}" th:disabled="${loadedTutorialId!=-1}" th:text="${overview_button_view_result}"></button>
					</div>
				</td>
			</tr>-->
		</table>
		<!-- <div class="container_tutorial_done" th:each="tutorial : ${tutorials}" th:if="${tutorial.getState()=='Done'}" >
			<div id="div_tutorial" class="container_tutorial" th:styleappend="'color: #'+${tutorial.getColor()}+';'+'background-color: #FFFFFF;'">
				<i th:id="'i_arrow_dropdown_2_'+${tutorial.getId()}" class="fa fa-chevron-circle-down rotate"></i>			
				<h1 th:text="${tutorial.getName()}" ></h1>		
				<img class="img_loading_gif" th:id="'img_loading_gif_2_'+${tutorial.getId()}" src="loading_spinner_transparent.gif" alt="loading"/>
				<button class="button_tutorial start" th:id="'button_tutorial_start_2_'+${tutorial.getId()}"   >
					<i class="fa fa-play-circle "></i>
				</button>
				<button class="button_tutorial load" th:id="'button_tutorial_load_2_'+${tutorial.getId()}">
					<i class="fa fa-download"></i>
				</button>
			</div>
			<div th:id="'div_dropdown_2_'+${tutorial.getId()}" class="dropdown-content">
				<div  th:each="walkthrough:${tutorial.getWalkthroughs()}" class="div_walkthrough">
					<p th:text="${walkthrough.getText()}"></p>
					<button class="button_result" th:id="'button_results_2_'+${tutorial.getId()}+'_'+${walkthrough.getTutorial_id()}" th:disabled="${loadedTutorialId!=-1}" th:text="${overview_button_view_result}"></button>
				</div>
			</div>
		</div>	-->
	</div>
	<div id="div_all" class="tabcontent">
		<h1 class="h1_group" th:text="${overview_tabbar_tab_open+':'+numberOfOpen}"></h1>
		<br></br>
			<table class="table_tutorials">
				<tr th:each="tutorial: ${tutorials}" th:if="${tutorial.getState()=='Open'}">
					<td class="td_tutorials td_i">
						<i th:id="'i_arrow_dropdown_3_0_'+${tutorial.getId()}" class="fa fa-chevron-circle-down rotate" th:styleappend="${tutorial.getState()=='Done'?'visibility:visible':'visibility:hidden'}"></i>							
					</td>
					<td class="td_tutorials td_h1">
						<h1 th:text="${tutorial.getName()}" class="h1_tutorial_name"></h1>	
					</td>
					<td class="td_tutorials td_button">
						<button class="button_tutorial start" th:id="'button_tutorial_start_3_0_'+${tutorial.getId()}" >
							<i class="fa fa-play-circle "></i>
						</button>
						<button class="button_tutorial load" th:id="'button_tutorial_load_3_0_'+${tutorial.getId()}">
							<i class="fa fa-download"></i>
						</button>		
					</td>
					<td class="td_tutorials td_img">
						<img class="img_loading_gif" th:id="'img_loading_gif_3_0_'+${tutorial.getId()}" src="loading_spinner_transparent.gif" alt="loading"/>
					</td>
				</tr>
			</table>
		<h1 class="h1_group" th:text="${overview_tabbar_tab_partial+':'+numberOfPartial}"></h1>
		<br></br>
			<table class="table_tutorials">
				<tr th:each="tutorial: ${tutorials}" th:if="${tutorial.getState()=='Partial'}">
					<td class="td_tutorials td_i">
						<i th:id="'i_arrow_dropdown_3_1_'+${tutorial.getId()}" class="fa fa-chevron-circle-down rotate" th:styleappend="${tutorial.getState()=='Done'?'visibility:visible':'visibility:hidden'}"></i>			
					</td>
					<td class="td_tutorials td_h1" >
						<h1 th:text="${tutorial.getName()}" class="h1_tutorial_name"></h1>	
					</td>
					<td class="td_tutorials td_button">
						<button class="button_tutorial start" th:id="'button_tutorial_continue_3_1_'+${tutorial.getId()}" >
							<i class="fa fa-play-circle "></i>
						</button>
						<button class="button_tutorial load" th:id="'button_tutorial_load_3_1_'+${tutorial.getId()}">
							<i class="fa fa-download"></i>
						</button>		
					</td>
					<td class="td_tutorials td_img">
						<img class="img_loading_gif" th:id="'img_loading_gif_1_'+${tutorial.getId()}" src="loading_spinner_transparent.gif" alt="loading"/>
					</td>
				</tr>
			</table>
		<h1 class="h1_group" th:text="${overview_tabbar_tab_done+':'+numberOfDone}"></h1>
		<br></br>
			<table class="table_tutorials">
			<tr th:each="tutorial: ${tutorials}" th:if="${tutorial.getState()=='Done'}">
				<td>
					<table class="table_tutorial">
						<tr>
							<td class="td_tutorials td_i">
								<i th:id="'i_arrow_dropdown_3_'+${tutorial.getId()}" class="fa fa-chevron-circle-down rotate" th:styleappend="${tutorial.getState()=='Done'?'visibility:visible':'visibility:hidden'}"></i>			
							</td>
							<td class="td_tutorials td_h1">
								<h1 th:text="${tutorial.getName()}" class="h1_tutorial_name"></h1>	
							</td>
							<td class="td_tutorials td_button">
								<button class="button_tutorial start" th:id="'button_tutorial_start_3_2_'+${tutorial.getId()}" >
									<i class="fa fa-play-circle "></i>
								</button>
								<button class="button_tutorial load" th:id="'button_tutorial_load_3_2_'+${tutorial.getId()}">
									<i class="fa fa-download"></i>
								</button>		
							</td>
							<td class="td_tutorials td_img">
								<img class="img_loading_gif" th:id="'img_loading_gif_3_2_'+${tutorial.getId()}" src="loading_spinner_transparent.gif" alt="loading"/>
							</td>
						</tr>
						<tr id="tr_dropdown" th:class="'dropdown-content div_walkthroughs_3_'+${tutorial.getId()}" th:each="walkthrough:${tutorial.getWalkthroughs()}">
							<td colspan="2">
								<p th:text="${walkthrough.getText()}"></p>
							</td>
							<td colspan="2">
								<button class="button_result" th:id="'button_results_3_'+${tutorial.getId()}+'_'+${walkthrough.getTutorial_id()}" th:disabled="${loadedTutorialId!=-1}" th:text="${overview_button_view_result}"></button>
							</td>
						</tr>
					</table>
				</td>	
			</tr>
		</table>
	</div>
	
</body>
</html>