<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/style_material_image.css"/>
	<link rel="stylesheet" href="css/style_core.css" type="text/css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="script_material.js"></script>
</head>
<body>
	<h2 id="h2_title_tutorial" class="title_tutorial" th:text="${tutorial.getName()}" th:styleappend="'color: #'+${tutorial.getColor()}"></h2>
	<div id="div_main" class="div_main">
		<h3 id="h3_title_question" class="title_question" th:text="${material_headline_1+material.getOrder()+material_headline_2+numberOfMaterials}"></h3>
		<div class="div_inner">
			<p th:text="${material.getText()}"></p>
			<img class="material" th:id="'img_material_'+${material.getOrder()}" th:src="@{'data:image/png;base64,'+${material.getMaterial()}}"
				th:alt="${material_alt_image}"/>	
		</div>
	</div>
	
	<div id="div_arrows">
		<i id="i_save" class="fa fa-print"></i>		
		<i id="i_arrow_left" class="fa fa-arrow-circle-left" onclick="arrow_left_click();"></i>
		<i id="i_exit_tutorial" class="fa fa-times-circle" onclick="arrow_exit_tutorial_click(false);"></i>
		<i id="i_arrow_right" class="fa fa-arrow-circle-right" onclick="arrow_right_click(false);"></i>
		
	</div>
</body>
</html>