<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" href="css/style_question.css"/>
<link rel="stylesheet" href="css/style_core.css" type="text/css"/>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="script_question.js"></script>
<script src="script_modal.js"></script>
</head>
<body>
	<div id="div_modal" class="modal">
		<div class="modal-content">				
			<h2 th:text="${modal_title_information}"></h2>
			<p id="p_no_answer_selected" th:text="${modal_no_answer_selected}"></p>
			<div class="div_modal_footer">
				<button id="button_close_modal" class="button_modal" th:text="${modal_button_close}"></button>
			</div>
		</div>
	</div>
	<h2 id="h2_title_tutorial" class="title_tutorial" th:text="${tutorial.getName()}" th:styleappend="'color: #'+${tutorial.getColor()}"></h2>
	<div id="div_main" class="div_main">
		<h3 id="h3_title_question" class="title_question" th:text="${question_headline_1+question.getOrder()+question_headline_2+numberOfQuestions}"></h3>
		<div class="div_inner">
		<table class="table_question">
			<tr>
				<td id="div_question">	
					<h4 id="h4_text_question" th:text="${question.getQuestion_text()}" class="h4_text_question"></h4>
					<table class="table_checkboxes">
						<tr class="tr_answer" th:each="answer : ${question.getAnswers()}">
							<td class="td_answer checkbox">
								<input th:id="'input_checkbox_'+${question.getOrder()}+'_'+${answer.getId()}" class="input_checkbox" th:checked="${answer.isSelected()}" type="checkbox"/>
							</td>
							<td class="td_answer">
								<label th:for="'input_checkbox_'+${question.getOrder()}+'_'+${answer.getId()}" th:id="'label_checkbox_'+${question.getOrder()}+'_'+${answer.getId()}" th:text="${answer.getText()}"> </label>
							</td>
						</tr>
					</table>
				</td>
				<td class="td_image">
					<img th:src="@{'data:image/png;base64,'+${question.getByteStream()}}" th:alt="${question_alt_image}"/>	
				</td>				
			</tr>
		</table>
			
		</div>
	</div>
	
	<div id="div_arrows">
		<i id="i_save" class="fa fa-print"></i>		
		<i id="i_arrow_left" class="fa fa-arrow-circle-left" th:if="${question.getOrder()}!=1"></i>
		<i id="i_exit_tutorial" class="fa fa-times-circle"></i>
		<i id="i_arrow_right" class="fa fa-arrow-circle-right"></i>		
	</div>
</body>
</html>