<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" href="css/style_results.css"/>
<link rel="stylesheet" href="css/style_core.css" type="text/css"/>
<script src="withinviewport.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="script_results.js"></script>
	<script type="text/javascript" src="script_modal.js"></script>
</head>
<body>
	<div id="div_modal" class="modal">
		<div class="modal-content">		
			
			<h2 th:text="${modal_title_information}"></h2>
			<p id="p_creating_pdf" th:text="${modal_creating_pdf}"></p>
			<div class="div_modal_footer">
				<button id="button_close_modal" class="button_modal" th:text="${modal_button_close}"></button>
			</div>
		</div>
	</div>

	<h2 id="h2_title_tutorial" class="title_tutorial" th:text="${result.getTutorial_name()}" th:styleappend="'color: #'+${result.getTutorial_color()}"></h2>
	<div th:id="div_main_+${question.getOrder()}" class="div_main" th:each="question:${result.getQuestions()}">
		<div id="div_segment">
			<h3 id="h3_title_question" class="title_question" th:text="${question_headline_1+question.getOrder()+question_headline_2+result.getQuestions().size()}"></h3>
			<div class="div_inner">
				<table class="table_question">
					<tr>
						<td id="div_question">	
							<h4 id="h4_text_question" th:text="${question.getQuestion_text()}" class="h4_text_question"></h4>
							<table class="table_checkboxes">
								<tr class="tr_answer" th:each="answer : ${question.getAnswers()}" th:classappend="${answer.isCorrect()}?answer_correct: (${answer.isSelected()}?'':'')">
									<td class="td_answer checkbox">
										<input id="input_checkbox" class="input_checkbox" th:checked="${answer.isSelected()}" type="checkbox" disabled="disabled"/>
									</td>
									<td class="td_answer">
										<label th:for="'input_checkbox_'+${question.getOrder()}+'_'+${answer.getId()}" th:id="label_checkbox" th:text="${answer.getText()}"> </label>
									</td>
								</tr>
							</table>
						</td>
						<td class="td_image">
							<img th:src="@{'data:image/png;base64,'+${question.getByteStream()}}" th:alt="${question_alt_image}"/>	
						</td>				
					</tr>
				</table>			
			</div>
		</div>
	</div>
	
	
	<div id="div_arrows">
		<i id="i_save" class="fa fa-print"></i>
		
		<i id="i_arrow_left" class="fa fa-arrow-circle-left"></i>
	
		<i id="i_exit_tutorial" class="fa fa-times-circle"></i>
		<i id="i_arrow_right" class="fa fa-arrow-circle-right"></i>
		</div>
</body>
</html>