<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="script_score.js"></script>
		<script type="text/javascript" src="script_modal.js"></script>
	
	<link rel="stylesheet" href="css/style_score.css" type="text/css"/>
	<link rel="stylesheet" href="css/style_core.css" type="text/css"/>
	 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h2 id="h2_title_tutorial" class="title_tutorial" th:text="${tutorial.getName()}" th:styleappend="'color: #'+${tutorial.getColor()}"></h2>
	<h3 id="h3_title_question" class="title_question" th:text="${score_headline}"></h3>
	
	<h1 id="h1_score" class="text" th:text="${score_total_points_1+numberCorrectAnswers+score_total_points_2+numberQuestions+score_total_points_3}"></h1>
	<h2 id="h2_succeed" class="text" th:text="${succeed}?${score_succeeded}:${score_not_succeeded}"></h2>
	<h3 id="h3_neededCorrect" class="text" th:text="${score_needed_points_1+neededAmountCorrectQuestions+score_needed_points_2}"></h3>
	<div id="div_arrows">
		<i id="i_save" class="fa fa-print"></i>		
		<i id="i_arrow_left" class="fa fa-arrow-circle-left"></i>	
		<i id="i_exit_tutorial" class="fa fa-times-circle"></i>
		<i id="i_arrow_right" class="fa fa-arrow-circle-right"></i>
	</div>
	<div id="div_result">
		<div th:id="div_main_+${question.getOrder()}" class="div_main" th:each="question:${result.getQuestions()}">
		<div id="div_segment">
			<h3 id="h3_title_question" class="title_question" th:text="${question_headline_1+question.getOrder()+question_headline_2+result.getQuestions().size()}"></h3>
			<div class="div_inner">
				<table class="table_question">
					<tr>
						<td id="div_question">	
							<h4 id="h4_text_question" th:text="${question.getQuestion_text()}" class="h4_text_question"></h4>
							<table class="table_checkboxes">
								<tr class="tr_answer" th:each="answer : ${question.getAnswers()}" th:classappend="${answer.isCorrect()}?answer_correct: (${answer.isSelected()}?'':'')">
								<!--<tr class="tr_answer" th:each="answer : ${question.getAnswers()}" th:classappend="${answer.isCorrect()}?answer_correct: (${answer.isSelected()}?answer_wrong:'')">-->
									<td class="td_answer checkbox">
										<input id="input_checkbox" class="input_checkbox" th:checked="${answer.isSelected()}" type="checkbox" disabled="disabled"/>
									</td>
									<td class="td_answer">
										<label th:for="'input_checkbox_'+${question.getOrder()}+'_'+${answer.getId()}" th:id="label_checkbox" th:text="${answer.getText()}"> </label>
									</td>
								</tr>
							</table>
						</td>
						<td class="td_image">
							<img th:src="@{'data:image/png;base64,'+${question.getByteStream()}}" th:alt="${question_alt_image}"/>	
						</td>				
					</tr>
				</table>			
			</div>
		</div>
		</div>
	</div>
	<div id="div_arrows">
		<i id="i_save" class="fa fa-print i_save"></i>
		<i id="i_exit_tutorial" class="fa fa-times-circle" onclick="window.open('tutorials','_self');"></i>
	</div>
</body>
</html>